## Gradle
.gradle/
build/

## IDEA'S config files
# workspace.xml often changes
.idea/workspace.xml
# Configs for plugins
.idea/dbnavigator.xml

## Asciidoc
# Utility for coverting my Asciidoc files to HTML
build-asciidoc.rb
prism.*
asciidoc-theme-extensions.css
# README that will come soon
README.adoc
